body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: royalblue;
}

a {
  color: #00B7FF;
}
#navigation
{
  height: auto;
  width: 100%;

  border-radius: 5px;
}
.contain
{
   background: white;
}